@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AWE 2018</h1>
    <p class="lead">Im Rahmen des Moduls Advanced Web Engineering wurde eine Plattform zum Verwalten von Bachelor und Master Thesen geschaffen.</p>
    <p>Created by Fabian Ruppert, Margarita Krylova und Luisa Maierhöfer</p>
</div>

